<app-employees-filter-textbox></app-employees-filter-textbox>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th (click)="sort('name')">Name</th>
      <th (click)="sort('city')">City</th>
      <th (click)="sort('salary')">Salary</th>
      <th (click)="sort('started')">Started</th>
      <th (click)="sort('projects')">Projects</th>
    </tr>
  </thead>
  <tr *ngFor="let emp of filteredEmployees">
    <td>
      <a>
        {{ emp.name | capitalize }}
      </a>
    </td>
    <td>{{ emp.city }}</td>
    <td>{{ emp.salary | currency }}</td>
    <td>{{ emp.started | date }}</td>
    <td>{{ emp.projects }}</td>
  </tr>
  <tr *ngIf="filteredEmployees && filteredEmployees.length">
    <td colspan="4">&nbsp;</td>
    <td>{{ employeesProjectCount }}</td>
  </tr>
  <tr *ngIf="!filteredEmployees || !filteredEmployees.length">
    <td colspan="4">No customers found</td>
  </tr>

</table>
<span>Employees Count on this page: {{ filteredEmployees.length }} </span>
